# Ignorar la carpeta de salida de Maven
target/
# Ignorar logs y clases compiladas
*.log
*.class
# Ignorar artefactos compilados
*.jar
*.war
# Ignorar archivos del sistema operativo macOS
.DS_Store
# Ignorar configuraciones específicas de IDEs
.idea/
*.iml
